params{
    outdir = '/Users/tabea/mnt/xomics/tabear/pacbio/atlas_paper/isoquant/isoquant_3.1.1/lrp/results/9_sqanti_protein/'
    name = 'hnr_50'
    sample_gtf = '/Users/tabea/mnt/xomics/tabear/pacbio/atlas_paper/isoquant/isoquant_3.1.1/lrp/results/7_make_pacbio_cds_gtf/hnr_cds.gtf'
    best_orf = '/Users/tabea/mnt/xomics/tabear/pacbio/atlas_paper/isoquant/isoquant_3.1.1/lrp/results/5_orf_calling/hnr_best_orf_without_stop.tsv'
    reference_gtf = '/Users/tabea/mnt/xomics/tabear/ref_genome/GRCh38/pacbio/gencode.v39.primary_assembly.annotation.gtf'
    sample_exon = '/Users/tabea/mnt/xomics/tabear/pacbio/atlas_paper/isoquant/isoquant_3.1.1/lrp/results/8_rename_cds_to_exon/hnr_50.transcript_exons_only.gtf'
    sample_cds = '/Users/tabea/mnt/xomics/tabear/pacbio/atlas_paper/isoquant/isoquant_3.1.1/lrp/results/8_rename_cds_to_exon/hnr_50.cds_renamed_exon.gtf'
    reference_exon = '/Users/tabea/mnt/xomics/tabear/pacbio/atlas_paper/isoquant/isoquant_3.1.1/lrp/results/8_rename_cds_to_exon/gencode.transcript_exons_only.gtf'
    reference_cds = '/Users/tabea/mnt/xomics/tabear/pacbio/atlas_paper/isoquant/isoquant_3.1.1/lrp/results/8_rename_cds_to_exon/gencode.cds_renamed_exon.gtf'

}

docker.enabled = true
process.container = 'gsheynkmanlab/sqanti_protein'